<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowoniu.fendian.mapper.ActivitySetMapper">

    <!-- 根据父级用户ID获取会员用户集合 以团队人数倒叙 limit 取数据量 -->
    <select id="getWaresOrder" resultType="com.alibaba.fastjson.JSONObject">
        SELECT * FROM wares_order o
        LEFT JOIN wares w ON w.id = o.wares_id
        LEFT JOIN wares_spec s ON s.id = o.spec_id
        WHERE o.wares_id = #{userId}
        <if test="states != null">
            AND o.state IN
            <foreach item="item" index="index" collection="states" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY o.create_time DESC
    </select>

    <!-- 批量更新分销优惠券详情 -->
    <update id="updateDistributionCouponList">
        <foreach collection="distributionCouponList" item="item" index="index" close="" open="" separator=";">
            UPDATE distribution_coupon
            SET
            phone_enable=#{item.phoneEnable},type=#{item.type},money=#{item.money},discount=#{item.discount},threshold=#{item.threshold},
            effective_type=#{item.effectiveType},start_time=#{item.startTime},end_time=#{item.endTime},range=#{item.range}
            WHERE id =#{id}
        </foreach>
    </update>

    <!-- 批量更新商品分类置顶排序 -->
    <update id="updateWaresSortDetailBatch">
        <foreach collection="waresSortDetail" item="item" index="index" close="" open="" separator=";">
            UPDATE wares_sort_detail SET top_row = #{item.topRow}, WHERE id = #{item.id}
        </foreach>
    </update>

    <!-- 商品条件查询 -->
    <select id="getWaresList" resultType="com.wowoniu.fendian.model.Wares">
        SELECT w.* FROM wares w
        LEFT JOIN wares_sort_set wss ON wss.user_id = w.user_id
        LEFT JOIN wares_sort_detail wsd ON wsd.sort_id = wss.id
        WHERE w.user_id = #{userId}
        AND w.hide = 'N'
        <if test="state != 0">
            AND w.state = #{state}
        </if>
        <if test="sortDetailId != 0 ">
            AND wsd.id = #{sortDetailId}
        </if>
        <if test="time == 1">
            ORDER BY w.shelf_time DESC
        </if>
        <if test="sales == 1">
            ORDER BY sales_volume DESC
        </if>
    </select>
    <!-- 规格ID获取规格详情 -->
    <select id="getWaresSpecDetailList" resultType="com.wowoniu.fendian.model.WaresSpecDetail">
        SELECT * FROM wares_spec_detail WHERE spec_id IN
        <foreach collection="waresSpecList" item="item" index="index" open="(" close=")" separator=";">
            #{item.id}
        </foreach>
    </select>

    <!-- 新增规格详情-批量 -->
    <insert id="addWaresSpecDetailBatch">
        INSERT INTO wares_spec_detail (id,model,price,stock,spec_id)
        VALUES
        <foreach collection="waresSpecDetailList" item="item" index="index" open="" close="" separator=",">
            (#{item.id},#{item.model},#{item.price},#{item.stock},#{item.specId})
        </foreach>
    </insert>

    <!-- 修改规格详情-批量 -->
    <update id="updateWaresSpecDetailBatch">
        <foreach collection="waresSpecDetailList" item="item" index="index" open="" close="" separator=";">
            UPDATE wares_spec_detail SET model = #{item.model},price = #{item.price},stock = #{item.stock} WHERE id =
            #{item.id}
        </foreach>
    </update>

    <!-- 新增抽奖详情-批量 -->
    <insert id="addLuckDrawDetailBatch">
        INSERT INTO luck_draw_detail
        (id,luck_draw_id,`name`,type,coupon_type,preferential,satisfy,`range`,effective_type,effective_day,
        prize_number,day_max,start_time,end_time,discount,prize_name,picture_url)
        VALUES
        <foreach collection="luckDrawDetailList" item="item" index="index" open="" close="" separator=",">
            (#{item.id},#{item.luckDrawId},#{item.name},#{item.type},#{item.couponType},#{item.preferential},#{item.satisfy},#{item.range},#{item.effectiveType},
            #{item.effectiveDay},#{item.prizeNumber},#{item.dayMax},#{item.startTime},#{item.endTime},#{item.discount},#{item.prizeName},#{item.pictureUrl})
        </foreach>
    </insert>

    <!-- 删除抽奖详情-批量 -->
    <delete id="deleteLuckDrawDetailBatch">
        DELETE FROM luck_draw_detail WHERE id IN
        <foreach collection="luckDrawDetailList" item="item" index="index" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </delete>


</mapper>