<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowoniu.fendian.mapper.ActivitySetMapper">

    <!-- 根据父级用户ID获取会员用户集合 以团队人数倒叙 limit 取数据量 -->
    <select id="getWaresOrder" resultType="com.alibaba.fastjson.JSONObject">
        SELECT * FROM wares_order o
        LEFT JOIN wares w ON w.id = o.wares_id
        LEFT JOIN wares_spec s ON s.id = o.spec_id
        WHERE o.wares_id = #{userId}
        <if test="states != null">
            AND o.state IN
            <foreach item="item" index="index" collection="states" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY o.create_time DESC
    </select>

    <!-- 批量更新裂变详情 -->
    <update id="updateFissionSetDetailList">
        <foreach collection="fissionSetDetailList" item="item" index="index" close="" open="" separator=";">
            UPDATE fission_set_detail SET
            level_name=#{item.levelName},equity=#{item.equity},coupon_type=#{item.couponType},
            discount_money=#{item.discountMoney},use_threshold=#{item.useThreshold},month_number=#{item.monthNumber},use_range=#{item.useRange},
            exchange_coupon_name=#{item.exchangeCouponName},discount=#{item.discount}
            WHERE id =#{id}
        </foreach>
    </update>

    <!-- 批量更新返利详情 -->
    <update id="updateRebateSetDetailList">
        <foreach collection="rebateSetDetailList" item="item" index="index" close="" open="" separator=";">
            UPDATE rebate_set_detail SET
            level_name=#{item.levelName},gain_factor=#{item.gainFactor},rebate_ratio=#{item.rebateRatio},rebate_id=#{item.rebateId}
            WHERE id =#{id}
        </foreach>
    </update>

    <!-- 批量更新分销优惠券详情 -->
    <update id="updateDistributionCouponList">
        <foreach collection="distributionCouponList" item="item" index="index" close="" open="" separator=";">
            UPDATE distribution_coupon
            SET
            phone_enable=#{item.phoneEnable},type=#{item.type},money=#{item.money},discount=#{item.discount},threshold=#{item.threshold},
            effective_type=#{item.effectiveType},start_time=#{item.startTime},end_time=#{item.endTime},range=#{item.range}
            WHERE id =#{id}
        </foreach>
    </update>

</mapper>