<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowoniu.fendian.mapper.AppletMapper">

    <!-- 条件搜索店铺 -->
    <select id="searchUseUser" resultType="com.wowoniu.fendian.model.UseUser">
        SELECT * FROM use_user
        WHERE
        ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{lat}*PI()/180-lat*PI()/180)/2),2)+COS(#{lat}*PI()/180)*COS(lat*PI()/180)*POW(SIN((#{lng}*PI()/180-lng*PI()/180)/2),2)))*1000)
        &lt;= 5000
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        ORDER BY lng,lat
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 条件搜索店铺的条数 -->
    <select id="searchUseUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM use_user
        WHERE
        ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{lat}*PI()/180-lat*PI()/180)/2),2)+COS(#{lat}*PI()/180)*COS(lat*PI()/180)*POW(SIN((#{lng}*PI()/180-lng*PI()/180)/2),2)))*1000)
        &lt;= 5000
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

    <!-- 条件搜索商家的商品 -->
    <select id="searchGoods" resultType="com.wowoniu.fendian.model.Wares">
        SELECT * FROM wares WHERE user_id = #{userId} AND hide = 'N'
        <if test="sortId != null and sortId != ''">
            AND sort_id = #{sortId}
        </if>

        <if test="priceSort == -1">
            ORDER BY price DESC
        </if>
        <if test="priceSort == 1">
            ORDER BY price ASC
        </if>
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 条件搜索商家的商品数量 -->
    <select id="searchGoodsCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM wares WHERE user_id = #{userId} AND hide = 'N'
        <if test="sortId != null and sortId != ''">
            AND sort_id = #{sortId}
        </if>
    </select>
    <select id="searchMemberInviter" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM link_member_user WHERE inviter_id = (SELECT buyer_id FROM member WHERE id = #{id})
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
    </select>
    <select id="getMemberInviter" resultType="com.wowoniu.fendian.model.LinkMemberUser">
        SELECT * FROM link_member_user WHERE inviter_id = (SELECT buyer_id FROM member WHERE id = #{id})
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
        LIMIT #{startRow},#{pageSize}
    </select>

    <select id="searchMemberRecord1" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM member_consume WHERE member_id = #{id} AND (type = '1' OR type = '3')
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
    </select>

    <select id="searchMemberRecord2" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM member_consume WHERE member_id = #{id} AND (type = '0' OR type = '2')
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
    </select>
    <select id="getMemberRecord1" resultType="com.wowoniu.fendian.model.MemberConsume">
        SELECT * FROM member_consume WHERE member_id = #{id} AND (type = '1' OR type = '3')
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
         LIMIT #{startRow},#{pageSize}
    </select>
    <select id="getMemberRecord2" resultType="com.wowoniu.fendian.model.MemberConsume">
        SELECT * FROM member_consume WHERE member_id = #{id} AND (type = '0' OR type = '2')
        <if test="date != null" >
            AND time LIKE CONCAT('%',#{date},'%')
        </if>
         LIMIT #{startRow},#{pageSize}
    </select>
    <select id="getCouponUserList" resultType="com.wowoniu.fendian.model.CouponUser">
        SELECT * FROM coupon_user WHERE coupon_id IN (SELECT id FROM coupon_buyer WHERE user_id = #{userId} AND activity_id = #{id}) ORDER BY receive_time DESC
         LIMIT #{startRow},#{pageSize}
    </select>
    <select id="searchCouponUser" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM coupon_user WHERE coupon_id = coupon_id IN (SELECT id FROM coupon_buyer WHERE user_id = #{userId} AND activity_id = #{id})
    </select>
    <select id="getCouponBuyerList" resultType="com.wowoniu.fendian.model.CouponBuyer">
        SELECT * FROM coupon_buyer WHERE buyer_id = #{id}
        <if test="state == null">
           AND end_time &lt; now() AND effective = 'Y'
        </if>
        <if test="state != null">
            AND end_time &gt; now() AND effective = #{state}
        </if>
         ORDER BY create_time DESC
    </select>

    <!-- 购物车货物添加订单ID -->
    <update id="updateWaresCarByOrder">
        UPDATE wares_cart SET order_id = #{orderId} WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateMember">
        UPDATE member SET update_time = NOW()
        <if test="level != null">
            ,level =#{level},level_name=#{levelName}
        </if>
        <if test="phone != null">
            ,phone = #{phone}
        </if>
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="gender != null">
            ,gender = #{gender}
        </if>
        <if test="remark != null">
            ,remark = #{remark}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime}
        </if>
        WHERE id = #{id}
    </update>

</mapper>