<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowoniu.fendian.mapper.AppletMapper">

    <!-- 条件搜索店铺 -->
    <select id="searchUseUser" resultType="com.wowoniu.fendian.model.UseUser">
        SELECT * FROM use_user
        WHERE ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{lat}*PI()/180-lat*PI()/180)/2),2)+COS(#{lat}*PI()/180)*COS(lat*PI()/180)*POW(SIN((#{lng}*PI()/180-lng*PI()/180)/2),2)))*1000) &lt;= 5000
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        ORDER BY lng,lat
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 条件搜索店铺的条数 -->
    <select id="searchUseUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM use_user
        WHERE ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{lat}*PI()/180-lat*PI()/180)/2),2)+COS(#{lat}*PI()/180)*COS(lat*PI()/180)*POW(SIN((#{lng}*PI()/180-lng*PI()/180)/2),2)))*1000) &lt;= 5000
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

    <!-- 条件搜索商家的商品 -->
    <select id="searchGoods" resultType="com.wowoniu.fendian.model.Wares">
        SELECT * FROM wares WHERE user_id = #{userId} AND hide = 'N'
        <if test="sortId != null and sortId != ''">
            AND sort_id = #{sortId}
        </if>

        <if test="priceSort == -1">
            ORDER BY price DESC
        </if>
        <if test="priceSort == 1">
            ORDER BY price ASC
        </if>
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 条件搜索商家的商品数量 -->
    <select id="searchGoodsCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM wares WHERE user_id = #{userId} AND hide = 'N'
        <if test="sortId != null and sortId != ''">
            AND sort_id = #{sortId}
        </if>
    </select>

    <!-- 购物车货物添加订单ID -->
    <update id="updateWaresCarByOrder">
        UPDATE wares_cart SET order_id = #{orderId} WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>