<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowoniu.fendian.mapper.MemberStatisticMapper">

    <!-- 根据父级用户ID获取会员用户集合 以团队人数倒叙 limit 取数据量 -->
    <select id="getUserList" resultType="com.wowoniu.fendian.model.User">
        SELECT u.* FROM `user` u LEFT JOIN link_member_user lmu ON lmu.buy_id = u.open_id  WHERE lmu.user_id = #{userId}  ORDER BY u.create_time DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

</mapper>