<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowoniu.fendian.mapper.MemberStatisticMapper">

    <!-- 根据父级用户ID获取会员用户集合 以团队人数倒叙 limit 取数据量 -->
    <select id="getUserList" resultType="com.wowoniu.fendian.model.Member">
        SELECT * FROM member WHERE user_id = #{userId}
        <if test="phone != null">
            AND phone = #{phone}
        </if>
        <if test="name != null">
            AND nick_name LIKE concat('%',#{name},'%')
        </if>
        ORDER BY create_time DESC
        LIMIT #{startRow},#{pageSize}
    </select>

    <!-- 用户总数 -->
    <select id="searchUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM member WHERE user_id = #{userId}
        <if test="phone != null">
            AND phone = #{phone}
        </if>
        <if test="name != null">
            AND nick_name LIKE concat('%',#{name},'%')
        </if>
    </select>

    <select id="searchMemberConsume" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM member_consume WHERE  member_id IN (SELECT id FROM member WHERE user_id = #{userId} )
        <if test="type != null">
            type = #{type}
        </if>
    </select>
    <select id="getMemberConsumeList" resultType="com.wowoniu.fendian.model.MemberConsume">
        SELECT * FROM member_consume WHERE member_id IN (SELECT id FROM member WHERE user_id = #{userId} )
        <if test="type != null">
            type = #{type}
        </if>
        ORDER BY time DESC
        LIMIT #{startRow},#{pageSize}
    </select>

    <select id="getMemberConsumeListById" resultType="com.wowoniu.fendian.model.MemberConsume">
          SELECT * FROM member_consume WHERE member_id = #{id}
        ORDER BY time DESC
        LIMIT #{startRow},#{pageSize}
    </select>
    <select id="searchMemberConsumeById" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM member_consume WHERE  member_id = #{id}
    </select>

</mapper>