<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowoniu.fendian.mapper.UnionShopMapper">
  <resultMap id="BaseResultMap" type="com.wowoniu.fendian.model.UnionShop">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="union_name" jdbcType="VARCHAR" property="unionName" />
    <result column="union_logo" jdbcType="VARCHAR" property="unionLogo" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_logo" jdbcType="VARCHAR" property="shopLogo" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="is_lock" jdbcType="INTEGER" property="isLock"/>
    <result column="leader_wechat_count" jdbcType="INTEGER" property="leaderWechatCount"/>
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, union_id, union_name, union_logo, shop_name, shop_logo, shop_id,
     create_time,leader_wechat_count,is_lock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from union_shop
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="queryShopCountByUnionId" resultType="java.lang.Integer">
      select count(1) from union_shop where union_id = #{unionId}

    </select>
    <select id="queryUnionShops" resultType="com.wowoniu.fendian.model.UnionShop">
      select <include refid="Base_Column_List"/> from union_shop
      where union_id = #{unionId}
      <if test="shopName != null and shopName != ''">
        and shop_name like concat('%',#{shopName},'%')
      </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from union_shop
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.UnionShop" useGeneratedKeys="true">
    insert into union_shop (union_id, union_name, union_logo, 
      shop_name, shop_logo, shop_id, 
      create_time,leader_wechat_count,is_lock)
    values (#{unionId,jdbcType=VARCHAR}, #{unionName,jdbcType=VARCHAR}, #{unionLogo,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{shopLogo,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE},#{leaderWechatCount})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.UnionShop" useGeneratedKeys="true">
    insert into union_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unionId != null">
        union_id,
      </if>
      <if test="unionName != null">
        union_name,
      </if>
      <if test="unionLogo != null">
        union_logo,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopLogo != null">
        shop_logo,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="leaderWechatCount != null">
        leader_wechat_count,
      </if>
      <if test="isLock != null">
        is_lock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="unionName != null">
        #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="unionLogo != null">
        #{unionLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null">
        #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="leaderWechatCount != null">
        #{leaderWechatCount},
      </if>
      <if test="isLock != null">
      #{isLock},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wowoniu.fendian.model.UnionShop">
    update union_shop
    <set>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="unionName != null">
        union_name = #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="unionLogo != null">
        union_logo = #{unionLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null">
        shop_logo = #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="leaderWechatCount != null">
        leader_wechat_count = #{leaderWechatCount},
      </if>
      <if test="isLock != null">
        is_lock = #{isLock},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wowoniu.fendian.model.UnionShop">
    update union_shop
    set union_id = #{unionId,jdbcType=VARCHAR},
      union_name = #{unionName,jdbcType=VARCHAR},
      union_logo = #{unionLogo,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_logo = #{shopLogo,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      leader_wechat_count = #{leaderWechatCount},
      is_lock = #{isLock}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateLock">
    update union_shop
    set
    <if test="lock == 0">
      is_lock = 1
    </if>
    <if test="lock == 1">
      is_lock = 0
    </if>
    where id = #{id}
  </update>

</mapper>