<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wowoniu.fendian.mapper.UseUserMapper">

    <resultMap id="BaseResultMap" type="com.wowoniu.fendian.model.UseUser">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="head_img" jdbcType="VARCHAR" property="headImg" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
        <result column="hierarchy" jdbcType="INTEGER" property="hierarchy" />
        <result column="role_id1" jdbcType="VARCHAR" property="roleId1" />
        <result column="role_id2" jdbcType="VARCHAR" property="roleId2" />
        <result column="team_number" jdbcType="INTEGER" property="teamNumber" />
        <result column="system_number" jdbcType="INTEGER" property="systemNumber" />
        <result column="today_term_number" jdbcType="INTEGER" property="todayTermNumber" />
        <result column="open_system_flg" jdbcType="INTEGER" property="openSystemFlg" />
        <result column="promotion_income" jdbcType="INTEGER" property="promotionIncome" />
        <result column="balance" jdbcType="INTEGER" property="balance" />
        <result column="promotion_code" jdbcType="VARCHAR" property="promotionCode" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="identification" jdbcType="VARCHAR" property="identification"/>
        <result column="state" jdbcType="INTEGER" property="state" />
    </resultMap>
    <sql id="Base_Column_List">
    id, login_name, wechat_id, nick_name, head_img, parent_id, parent_name, `hierarchy`,
    role_id1, role_id2, team_number, system_number, today_term_number, open_system_flg,
    promotion_income, balance, promotion_code, create_time, `state`,identification
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from use_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="queryUserByLoginName" resultType="com.wowoniu.fendian.model.UseUser">
    select
    <include refid="Base_Column_List" />
    from use_user
    where login_name = #{loginName} and state = 0
</select>
<select id="queryUserByOpenId" resultType="com.wowoniu.fendian.model.UseUser">
SELECT <include refid="Base_Column_List" /> FROM use_user
WHERE wechat_id = #{openId} AND state = 0
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from use_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
<insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.UseUser" useGeneratedKeys="true">
    insert into use_user (id,login_name, wechat_id, nick_name,
      head_img, parent_id, parent_name,
      `hierarchy`, role_id1, role_id2,
      team_number, system_number, today_term_number,
      open_system_flg, promotion_income, balance,
      promotion_code, create_time, `state`,identification
      )
    values (#{id},#{loginName,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{headImg,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR},
      #{hierarchy,jdbcType=INTEGER}, #{roleId1,jdbcType=VARCHAR}, #{roleId2,jdbcType=VARCHAR},
      #{teamNumber,jdbcType=INTEGER}, #{systemNumber,jdbcType=INTEGER}, #{todayTermNumber,jdbcType=INTEGER},
      #{openSystemFlg,jdbcType=INTEGER}, #{promotionIncome,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER},
      #{promotionCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER},#{identification}
      )
  </insert>
<insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.UseUser" useGeneratedKeys="true">
insert into use_user
<trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
        id,
    </if>
    <if test="loginName != null">
        login_name,
    </if>
    <if test="wechatId != null">
        wechat_id,
    </if>
    <if test="nickName != null">
        nick_name,
    </if>
    <if test="headImg != null">
        head_img,
    </if>
    <if test="parentId != null">
        parent_id,
    </if>
    <if test="parentName != null">
        parent_name,
    </if>
    <if test="hierarchy != null">
        `hierarchy`,
    </if>
    <if test="roleId1 != null">
        role_id1,
    </if>
    <if test="roleId2 != null">
        role_id2,
    </if>
    <if test="teamNumber != null">
        team_number,
    </if>
    <if test="systemNumber != null">
        system_number,
    </if>
    <if test="todayTermNumber != null">
        today_term_number,
    </if>
    <if test="openSystemFlg != null">
        open_system_flg,
    </if>
    <if test="promotionIncome != null">
        promotion_income,
    </if>
    <if test="balance != null">
        balance,
    </if>
    <if test="promotionCode != null">
        promotion_code,
    </if>
    <if test="createTime != null">
        create_time,
    </if>
    <if test="state != null">
        `state`,
    </if>
    <if test="identification != null">
        identification,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
        #{id},
    </if>
    <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
    </if>
    <if test="wechatId != null">
        #{wechatId,jdbcType=VARCHAR},
    </if>
    <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
    </if>
    <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
    </if>
    <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
    </if>
    <if test="hierarchy != null">
        #{hierarchy,jdbcType=INTEGER},
    </if>
    <if test="roleId1 != null">
        #{roleId1,jdbcType=VARCHAR},
    </if>
    <if test="roleId2 != null">
        #{roleId2,jdbcType=VARCHAR},
    </if>
    <if test="teamNumber != null">
        #{teamNumber,jdbcType=INTEGER},
    </if>
    <if test="systemNumber != null">
        #{systemNumber,jdbcType=INTEGER},
    </if>
    <if test="todayTermNumber != null">
        #{todayTermNumber,jdbcType=INTEGER},
    </if>
    <if test="openSystemFlg != null">
        #{openSystemFlg,jdbcType=INTEGER},
    </if>
    <if test="promotionIncome != null">
        #{promotionIncome,jdbcType=INTEGER},
    </if>
    <if test="balance != null">
        #{balance,jdbcType=INTEGER},
    </if>
    <if test="promotionCode != null">
        #{promotionCode,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="state != null">
        #{state,jdbcType=INTEGER},
    </if>
    <if test="identification != null">
        #{identification}
    </if>
</trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="com.wowoniu.fendian.model.UseUser">
update use_user
<set>
    <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
    </if>
    <if test="wechatId != null">
        wechat_id = #{wechatId,jdbcType=VARCHAR},
    </if>
    <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
    </if>
    <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
    </if>
    <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
    </if>
    <if test="hierarchy != null">
        `hierarchy` = #{hierarchy,jdbcType=INTEGER},
    </if>
    <if test="roleId1 != null">
        role_id1 = #{roleId1,jdbcType=VARCHAR},
    </if>
    <if test="roleId2 != null">
        role_id2 = #{roleId2,jdbcType=VARCHAR},
    </if>
    <if test="teamNumber != null">
        team_number = #{teamNumber,jdbcType=INTEGER},
    </if>
    <if test="systemNumber != null">
        system_number = #{systemNumber,jdbcType=INTEGER},
    </if>
    <if test="todayTermNumber != null">
        today_term_number = #{todayTermNumber,jdbcType=INTEGER},
    </if>
    <if test="openSystemFlg != null">
        open_system_flg = #{openSystemFlg,jdbcType=INTEGER},
    </if>
    <if test="promotionIncome != null">
        promotion_income = #{promotionIncome,jdbcType=INTEGER},
    </if>
    <if test="balance != null">
        balance = #{balance,jdbcType=INTEGER},
    </if>
    <if test="promotionCode != null">
        promotion_code = #{promotionCode,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
    </if>
    <if test="identification != null">
        identification = #{identification}
    </if>
</set>
where id = #{id,jdbcType=VARCHAR}
</update>
<update id="updateByPrimaryKey" parameterType="com.wowoniu.fendian.model.UseUser">
    update use_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR},
      `hierarchy` = #{hierarchy,jdbcType=INTEGER},
      role_id1 = #{roleId1,jdbcType=VARCHAR},
      role_id2 = #{roleId2,jdbcType=VARCHAR},
      team_number = #{teamNumber,jdbcType=INTEGER},
      system_number = #{systemNumber,jdbcType=INTEGER},
      today_term_number = #{todayTermNumber,jdbcType=INTEGER},
      open_system_flg = #{openSystemFlg,jdbcType=INTEGER},
      promotion_income = #{promotionIncome,jdbcType=INTEGER},
      balance = #{balance,jdbcType=INTEGER},
      promotion_code = #{promotionCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `state` = #{state,jdbcType=INTEGER},
      identification = #{identification}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>