<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowoniu.fendian.mapper.WriteOffMapper">
  <resultMap id="BaseResultMap" type="com.wowoniu.fendian.model.WriteOff">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
    <result column="goods_amount" jdbcType="DECIMAL" property="goodsAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, activity_id, coupon_id, goods_amount, pay_amount, create_time,customer_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from write_off
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="countByUserId" resultType="java.lang.Integer">
    select count(1) from write_off
    where user_id = #{userid}

  </select>
  <select id="queryWriteByUserId" resultType="com.wowoniu.fendian.model.WriteOff">
    select a.*,b.nick_name as customerName,b.head_img as customerImg from write_off a
    left join use_user b on a.customer_id = b.id
    where a.user_id = #{userId} and activity_id = 13

  </select>
  <select id="queryWriteByCustomerId" resultType="com.wowoniu.fendian.model.WriteOff">
    select a.*,b.shop_logo as userImg,b.shop_name as userName from write_off a
    left join use_user b on a.user_id = b.id
    where a.customer_id = #{customerId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from write_off
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.WriteOff" useGeneratedKeys="true">
    insert into write_off (user_id, activity_id, coupon_id, 
      goods_amount, pay_amount, create_time,customer_id
      )
    values (#{userId,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{couponId,jdbcType=VARCHAR}, 
      #{goodsAmount,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},#{customerId}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wowoniu.fendian.model.WriteOff" useGeneratedKeys="true">
    insert into write_off
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="goodsAmount != null">
        goods_amount,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerId != null">
        #{customerId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wowoniu.fendian.model.WriteOff">
    update write_off
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null">
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wowoniu.fendian.model.WriteOff">
    update write_off
    set user_id = #{userId,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=VARCHAR},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      customer_id = #{customerId}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>